*{
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
}

:root{
    --main-color: #FF6565;
    --hover-ops: opacity: 0.9;
    --text-color:#FFFFFF;
}
.home{
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: fit-content;
    align-items: center;
    position: relative;
}

header > .list {
    display: none;
}
.logo img{
    height: 32px;
}
.home ul {
    display: flex;
    list-style: none;
}

.home ul a {
 color:white ;
 text-decoration: none;
 margin-right: 20px;
 font-size: 12px;
 transition: .5s;
}

.home ul > li a:hover{
color: var(--main-color);
opacity: var(--hover-ops);
box-shadow: none;
}

.sec-one{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
        color: white;
}
.sec-one div{
    margin-top: 75px;
}
.sec-one div h3{
    font-size: 32px;
}
.sec-one div p {
    font-weight: bold;
    font-size: 16px;
}

.sec-one button{
    background-color: var(--main-color);
    cursor: pointer;
    margin: 50px;
    border-radius: 50px;
    color: white;
    padding: 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.sec-one > p{
    max-width: 637px;
    line-height: 2.6;
    padding: 10px;
}

@media (max-width:480px){
    header {
            flex-direction: column;
        }
        .home ul{
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 15px;
        display: none;
        transition: .2s;
    }    
    .home ul a{
        text-align: center;
        margin-right: 0px;
    }    
    header .list {
        display: block;
        position: absolute;
        top: 20px;
        left: 5px;
        transition: .2s;
    }
    header .list div{
        width: 18px;
        height: 2px;
        background-color: white;
        border-radius: 50px;
        transition: .2s;
    }
    header .list .mid{
        margin: 5px 0;
        width: 13px;
    }
    header .list:focus + ul{
        display: flex;
    }
    header .list:focus .one {
       transform: rotate(135deg);
    }
    header .list:focus .mid {
       display: none;
    }
    header .list:focus{
        top:25px
    }
    header .list:focus .two {
        transform: rotate(-135deg) translate(1px, 1px);
    }
}

.sec-two{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
h2{
    margin-bottom: 0;
    margin-top: 50px;
}
.sec-two > p{
    margin-top: 50px;
    max-width: 637px;
    line-height: 2.6;
    text-align: center;
    padding: 15px;
}
.sec-two .cont-one{
    display: grid;
    justify-content:space-evenly;
    grid-template-columns: repeat(4,20%);
    padding: 20px;
    gap: 20px;
}

.sec-two .cont-one > div{
    text-align: center;
    padding: 15px 25px;
    border-radius: 6px;
    transition: .5s;
}

.sec-two .cont-one > div:hover{
    box-shadow: 0px 0px 20px 0px #a8a8a8de;
    transform: translateY(-10px);
}

.sec-two .cont-one > div span{
    color: var(--main-color);
    font-size: 80px;
}
.sec-two .cont-one > div p{
    font-size: 14px;
    margin-top: 15px;
    line-height: 2.6;
}

@media (max-width:1000px){
    .sec-two .cont-one{
        margin-top: 15px;
        grid-template-columns: repeat(2,40%);
    }
}
@media (max-width:480px){
    .sec-two .cont-one{
        grid-template-columns: repeat(1,90%);
    }
}